@font-face {
    font-family: 'Eiko';
    src:url('Eiko/PPEiko-Variable.ttf') format("truetype-variations");
    font-weight: 100;

}
@font-face {
    font-family: 'Basis Grotesque Pro';
    src:url('Grotesque Pro/BasisGrotesquePro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Basis Grotesque Pro';
    src:url('Grotesque Pro/BasisGrotesquePro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    cursor: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    color:white;
}
body{
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Eiko;

}
#graincontainer{
    width: 100vw;
    height: 100vh;
    position: fixed;


}
#grain{
    width: 100vw;
    height: 100vh;



}



.cursor{
    position: fixed;
    width: 1vw;
    height: 1vw;
    background-color: white;
    border-radius: 50%;
    transition: width ease 0.5s,height ease 0.5s;
    z-index: 3;
    mix-blend-mode: difference;
}



.name{

    mix-blend-mode: difference;
    color: white;
    font-size: 0.8vw;
    display: flex;
    flex-direction: row;
    width: 200px;
    margin-top: 25px;
    justify-content: center;
    align-content: center;
    gap: 1vw;
    width: 100%;
    font-variation-settings: "wght" 100;
    z-index: 100;
}
.name h5{
    align-self: flex-end;
}

.Title{
    display: flex;
    flex-direction: column;
    gap: 75px;
    margin-bottom: 40px;
}
.Title h1{
    font-size: 100px;
    display: flex;
    align-self: flex-start;
    margin-left: 40px;
    margin-top: 10px;
}
.Gamestats{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.Title h3{

    font-size: 25px;

}
.Title p{
    font-size: 20px;
    opacity: 50%;
}

.Data{
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
    margin-left: 40px;
    align-items: flex-start;
    justify-content: space-evenly;
}

.Data_text{
    color: white;


}

#download_counter{
    opacity: 0;
}
#view_counter{
    opacity: 0;
}

.bar{
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    height: 5vh;
    width: 0vw;
    transition: width 500ms ease-in-out;
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
}
.Gameinfo{
    margin-left: 35px;
    color: white;
    font-family: "Basis Grotesque Pro";
    font-size: 35px;
    text-align: left;
    width: 70vw;
}
#flashtext{
    font-size: 200px;
    font-family: 'Basis Grotesque Pro';
}
.room{
    position: relative;
    width: 98vw;
    height: 100vh;
    margin-bottom: 300px;
}
#huh{
    object-fit: cover;
    width: 98vw;
    height: 100vh;

}
#bro{
    position: absolute;
    object-fit: cover;
    width: 30vw;
    height: 30vh;
    right: 32%;
    top:75%;

}
.Invinfo {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-bottom: 30px;
    margin-top: -100px;
    flex-wrap: wrap;
    height: auto;
}
.Invinfo p{

    font-family: "Basis Grotesque Pro";
    font-size: 40px;
    text-align: left;
    width: 90vw;
    margin-left: 25px;
    font-weight: 300;
}
.Invinfo h1{
    font-size: 60px;
    text-align: left;
    margin-left: 25px;
    font-weight: 100;
}
.items{
    margin-left: 100vw;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    gap:37.5vw;
    width: 500vw;
}
.items img{
    width: 25vw;
}
#itemholder {
    overflow-x: hidden;
}

.inv{
    display: flex;
    flex-direction: column;
    gap:15px
}
.inv h1{
    font-family: 'Basis Grotesque Pro';
    font-size: 5vw;
    color: #FBF3D5;
}
.sbronza h1{
    margin-bottom: 20px;
}

